@import './variable.scss';
@import './minix.scss';
@import './font';

html {
    background-color: #3B3E43;
    height: 100%;
    background: {
        image: url(/static/img/body-navy.jpg);
    }
}

a, button, input, textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    //-webkit-user-modify: read-write-plaintext-only; 
}

body {
    @include clearfix;
    @include hide-scroll-bar;
    position: relative;
    /* background: { */
    /*     image: url(/static/img/body-navy.jpg); */
    /* } */
    box-sizing: border-box;
}



html {
    min-height: 100%;
}

html, body, div {
    padding: 0;
    margin: 0;
}

body {
    position: absolute;
    min-height: 100%;
    width: 100%;
}


div.hr {
    height: 100%;
    height: 1px;
    background-color: #e8e8e8;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
}

a {
    text-decoration: none;
    color: $href-color;
}
