
@font-face {
    font-family: AveriaSansLibre;
    src: url( '/static/font/averia_sans_libre/AveriaSansLibre-Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: AveriaSansLibre;
    src: url( '/static/font/averia_sans_libre/AveriaSansLibre-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: YueSong;
    src: url('/static/font/yuesong.TTF');
}

