
$dash-bar-height: 320px;
$dash-bar-bg:#999;

$media-sm: 768px;
$media-md: 992px;
$media-lg: 1200px;

$main-bg: #f8f8f8;
$main-border-bg: #88989f;

$main-max-width: 1040px;

$font-title: AveriaSansLibre, YueSong, sans-serif;
$font-article: Helvetica, Arial,sans-serif;
$font-code: "Lucida Console", Monaco, monospace;
$font-default: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
$font-time: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;

$article-border-color: #000 !default;

$href-color: #0974ae;


$section-ul-height: 22px;

/* org */
$section-number-bg: #999;


$img-circle-bg: rgba(88, 50, 60, 0.8);
