

$main-bg: #8e3c32;

@import "./common.scss";
@import "./minix.scss";
@import "./slide-tag.scss";
@import "./paging.scss";
@import "./widget/footer.scss";

html, body {
    height: 100%;
}

body {
    @include clearfix;
}

.slide-tag {
    left: 10%;
}

.main {
    z-index: 20;
    position: relative;
    top: 0;
    margin: 2rem auto;
    width: 80%;
    border-radius: 0.1rem;
    box-sizing: border-box;
    background: {
        color: $main-bg;
    }
    border: 1rem solid #662a24;
    color: white;

    padding: 1rem;
}

.article-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding: 0.4rem;
        margin-bottom: 0.8rem;
        box-shadow: 0 0 4px #eee;
    }
}

