@import "./_common";
@import "./_minix";
@import "./_variable";
@import "./widget/slide-tag";
@import "./widget/footer";
@import "./widget/container";

html {
    height: auto;
}

body {
    @include clearfix;

}

.yue-song-font {
    .main-wrapper h1, ul.categorys li a {
        font-family: $font-title;
    }
}

.main-wrapper {
    padding: 0 1rem 1rem;
    margin-bottom: 1rem;
    h1 {
        text-align: center;
        color: white;
        text-shadow: 0 0 1px white;
        
    }
}


$number-size: 1.2rem;
ul.categorys {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        background-color: white;
        box-shadow: 0 0 18px black;
        border-radius: 0.6rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        position: relative;
        margin: 1rem 15%;

        @media screen and (max-width: $media-sm) {
            margin: 1rem 1%;    
        }

        &:hover {
            span.number {
                transform: scale(1.31, 1.31);
            }
        }
        
        a {
            display: block;
            height: 100%;
            width: 100%;
            vertical-align: middle;
        }

        span.number {
            display: inline-block;
            height: $number-size;
            width: $number-size;
            border-radius: 50%;
            background-color: #ddd;
            text-align: center;
            line-height: $number-size;
            margin-left: 0.3rem;
            transition: transform 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;

        }
    }
}
