@import "./_variable";
@import './_common';

@import './widget/footer';
@import './widget/slide-tag';
@import './widget/code';
@import './widget/container';
@import './widget/category-tag';

$article-bg: white;



$paging-number-size: 30px;
$paging-number-bg: white;
$paging-number-active-bg: #ee5b33;

$header-height: 0rem;
$footer-height: 2rem;

@keyframes bounce {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, -10px);
    }
}


html, body {
    height: 100%;
}



.yue-song-font .articles .article h1 {
    font-family: $font-title;
}

.main-wrapper {
    overflow: hidden;
    height: 100%;

    .category-slide {
        position: relative;
        z-index: 100;
    }
    
    @media screen and (max-width: $media-md) {
        border-radius: 0;
        .articles {
            width: 64%;
        }

        .category-slide {
            width: 30%;
        }
    }
    
    @media screen and (max-width: $media-sm) {        
        .category-slide {
            display: none !important;
        }

        .article-wrapper {
            width: 100%;
            box-shadow: 0px 0px 0px #fff;

            &.active {

                .article {
                    box-shadow: none;
                }
            }
            
            .article {
                width: auto;
            }
        }
        
        .articles {
            width: 100%;
            box-shadow: 0px 0px 0px #fff;
            margin: 0;
            
            .article {
                //box-shadow: 0px 0 2px #646464;
                box-shadow: none;
                border: 1px solid #646464;
            }
        }
    }

    

    @media screen and (min-width: $media-sm) and (max-width: $media-md) {
        
    }
    
    @media screen and (max-width: $media-sm) and (max-width: $media-lg) {
        
    }
}

.article-wrapper {    
    @include hide-scroll-bar;
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transform: translate(0, 0);
    transition: all 700ms;
    will-change: transform;

    

    &.c {
        transform: translate(0, -100%);
       
    }
    
    &.blur {
        
        filter: blur(3px);
        
        .article {
            box-shadow: none;
        }
    }

    &.active {
        cursor: initial;
        z-index: 150;
        .article {
            box-shadow: 0 0 20px black;
            &:before, &:after {
                display: none;
            }
        }
    }

    /* &.cover.active { */
    /*     animation: none; */
    /* } */

    &.cover {
        height: 100%;
        //animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 200ms infinite;
        

        // FIXME 动画掉帧

        .m-banner {
            position: absolute;
            background-color: #222528;
            width: 100%;
            bottom: 0;
            color: white;
            opacity: 0.7;
            z-index: 10;

            .footer-text {
                text-align: right;
            }

            .story-text {
                padding: 0 0.8rem;
            }

            @media screen and (max-width: $media-sm) {

                font-size: 0.8rem;
                
            }

            border: {
                bottom: {
                    left-radius: 0.3rem;
                    right-radius: 0.3rem;
                }
            }
        }
        
        .banner {
            z-index: 10;
            position: absolute;
            background-color: #222528;
            width: 100%;
            top: 3rem;
            padding: 2rem 1.5rem;
            box-sizing: border-box;
            color: white;
            opacity: 0.7;
            
            p {
                margin: 0;
            }

            &--title {
                font: {
                    family: $font-title;
                    size: 2rem;
                }
            }

            &--desc {
                
            }
            
        }
        
        .sqrt-title {
            height: 5rem;
            width: 5rem;
            position: absolute;
            top: 14rem;
            left: 50%;
            margin-left: -2rem;
            border: 3px solid #000;
            border-radius: 2px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 120%;
                height: 120%;
                box-sizing: border-box;
                left: -10%;
                top: -10%;
                border: 2px solid #000;
                border-radius: 3px;
            }
            
            p {
                width: 50%;
                margin: 0;
                padding: 0;
                display: inline-block;
                float: left;
                line-height: 2.5rem;
                vertical-align: middle;
                text-align: center;
                text-shadow: 0 0 5px white;
                font: {
                    size: 2rem;
                    family: $font-title;
                }
            }
        }

        .article {
            height: 95%;
            padding: 0;
            background: {
                //image: url(/static/img/fish.jpg);
                size: cover;
                repeat: no-repeat;
                position: center bottom;
            }
        }
    }
}

.articles {
    @include clearfix;
    margin: auto 3%;
    width: 59%;
    display: inline-block;
    position: relative;
    z-index: 100;
    height: 100%;
    float: left;
    box-sizing: border-box;
    box-shadow: 0 1rem 18px #000;
    overflow: hidden;
    border: {
        top: {
            right-radius: 0.5rem;
            left-radius: 0.5rem;
        }
    }

    
    .article {
        background-color: $article-bg;
        padding: 8px;
        margin-bottom: 10px;
        position: relative;
        width: 100%;
        margin-top: 1rem;
        border-radius: 0.5rem;
        box-shadow: 3px 0 10px rgba(100, 100, 100, 0.8);
        transition: all;
        min-height: 80%;
        box-sizing: border-box;

        p {
            line-height: 1.6;
        }
       
        h1 {
            margin: -0.2rem auto 0.5rem;
            font: {
                size: 1.4rem;
                family: $font-default;
            }
            color: #333;
        }

        .show-time, .readmore {
            font-family: $font-time;
            font-size: 14px;
            line-height: 1.5;
            color: #555;
        }

        img {
            max-width: 95%;
            display: block;
            margin: 1rem auto;
            box-shadow: 1px 3px 6px #333;
            border: {
                radius: 3px;
            }

        }
    }

    ul {
        display: none;
    }
}


#article-canvas {
    height: 100%;
    width: 100%;
}

.wrapper-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.2;
    height: 100%;
    
    @media screen and (max-width: $media-sm) {
        display: none;
    }
}
