$category-tag-height: 28px !default;
$category-sm-tag-height: 20px !default;

$category-tag-color: white;



.category-slide {
    display: inline-block;
    float: left;
    width: 35%;

        
    .avator {
        margin-top: 1.5rem;
        box-sizing: border-box;
        
        &:hover {
            img {
                transform: scale(0.8, 0.8);
            }
        }
        
        img {
            width: 80%;
            display: block;
            margin: 0 auto;
            transition: transform 300ms ease-in;
            transform: scale(1, 1);
            border-radius: 50%;
            
        }
    }

    ul {
        @include clearfix;
        margin: 1rem 0;
        padding: 0;
    }

    li {
        margin: 10px 18px;
        display: block;
        float: left;

        a {
            display: inline-block;
            background-color: $category-tag-color;
            height: $category-tag-height;
            line-height: $category-tag-height;
            position: relative;
            padding-left: 0.8rem;
            
            &:after {
                position: absolute;
                left: 100%;
                top: 0;
                content: '';
                width: 0;
                height: 0;
                display: block;
                border: {
                    style: solid;
                    width: $category-tag-height / 1.9 0 $category-tag-height / 1.9 $category-tag-height / 1.90;
                    color: transparent transparent transparent $category-tag-color;
                }

            }

            &:before {
                position: absolute;
                content: '';
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background-color: #333;
                top: 50%;
                margin-top: -3px;
                left: 4px;
            }
        }
    }

    @media screen and (max-width: $media-md), screen and (max-height: 900px) { 
        li {
            margin: 10px 8px;

            a {
                height: $category-sm-tag-height;
                line-height: $category-sm-tag-height;
                &:after {
                    border: {
                        width: $category-sm-tag-height / 1.9 0 $category-sm-tag-height / 1.9 $category-sm-tag-height / 1.90;
                    }
                }
            }
            
        }
    }

    

}


