

code.hljs {
    margin: 0.2rem 1rem;
    padding: 1rem 1.2rem !important;
    opacity: 0.8;
    transition: opacity 500ms ease-in-out;
    box-shadow: 2px 2px 5px #aaa;
    border-radius: 3px;
    
    font: {
        size: 0.6rem;
        family: $font-code;
    }

    &:hover {
        opacity: 1;
        box-shadow: 1px 3px 15px #333;
    }
}
