

code {
    margin: 0.2rem 1rem;
    padding: 0.2rem 0.5rem;
    opacity: 0.9;
    transition: opacity 500ms ease-in-out, box-shadow 500ms ease-in-out;
    box-shadow: 0 0 5px #aaa;
    border-radius: 3px;
    &:hover {
        opacity: 1;
        box-shadow: 0 0 15px #aaa;
    }
}
