@import '../variable.scss';
@import '../minix.scss';



@keyframes bounce {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 20%);
    }
}



footer {
    padding: 0 1rem;
    
    &.footer-allarticles, &.footer-category {
        color: white;

        .footer-text p {
            color: #eee;
        }

        ul svg {
            fill: white;
        }
    }


    img {
        display: block;
        margin: auto;
        height: 100px;
        border-radius: 50%;
    }

    p {
        display: inline-block;
        margin: 0;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-block;
        float: right;
        position: relative;
        vertical-align: middle;
        
        li {
            float: left;
            display: inline-block;
            margin-left: 0.5rem;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}){
                    a {
                        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) ($i * 200ms) infinite;
                    }
                }
            }
            
        }

        a {
            display: inline-block;
            height: 100%;
            border-radius: 50%;
        }

        svg {
            width: 1.4rem;
            border-radius: 50%;
            box-shadow: 0 0 3px #ccc;
        }
        
    }

    .footer-text {
        margin-top: 0.7rem;
        height: 2rem;
        p {
            margin-top: 4px;
            color: #555;
        }
    }
}

