
.footer-avator {
    margin-top: 2.5rem;
    img {
        border-radius: 50%;
        display: block;
        margin: 1.5rem auto 0.8rem;
        width: 10rem;
        padding: 0.2rem;
        border: 0.3rem solid #474b52;
    }
    
    &--author, &--author-desc {
        text-align: center;
    }

    &--author {
        color: #333;
        margin: 0 auto;
    }

    @media screen and (max-width: $media-sm) {
        img {
            width: 7.5rem;
        }
    }
    
    @media screen and (min-width: $media-sm) and (max-width: $media-md) {
        
    }
    
    @media screen and (max-width: $media-sm) and (max-width: $media-lg) {
        
    }
}


