@import '../variable.scss';
@import '../minix.scss';

$tag-bg: white;

$tag-size: 2rem;

$tag-color: black;

$tag-offset-border: 50px;

.slide-tag {
    @include clearfix;
    position: absolute;
    left: 50%;
    margin-left: - $main-max-width / 2 - $tag-offset-border;
    z-index: 1;
    margin-top: 2rem;

    
    @media screen and (max-width: 1350px) {
        margin-left: -45%;
    }
    
    &.slide-tag-index {
        .index {
            display: none;
        }
    }
    
        
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-top: 1rem;
            display: block;
            height: $tag-size;
            width: $tag-size;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 1px 1px 13px #000;
            
            a {
                background-color: $tag-bg;
                position: relative;
                display: block;
                height: 100%;
                width: 100%;
                line-height: $tag-size;
                text-align: center;
                color: $tag-color;
            }

            
        }
    }

    @media screen and (max-width: $media-sm) {
        display: none;
    }

    @media screen and (min-width: $media-sm) and (max-width: $media-md) {
        
    }

    @media screen and (max-width: $media-sm) and (max-width: $media-lg) {
        
    }

}



