code {
  opacity: 0.9;
  -webkit-transition: opacity 500ms ease-in-out, box-shadow 500ms ease-in-out;
  transition: opacity 500ms ease-in-out, box-shadow 500ms ease-in-out;
  box-shadow: 0 0 5px #aaa; }
  code:hover {
    opacity: 1;
    box-shadow: 0 0 15px #aaa; }
