/* org */
@font-face {
  font-family: AveriaSansLibre;
  src: url("/static/font/averia_sans_libre/AveriaSansLibre-Bold.ttf");
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: AveriaSansLibre;
  src: url("/static/font/averia_sans_libre/AveriaSansLibre-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: YueSong;
  src: url("/static/font/yuesong.TTF"); }

html {
  background-color: #3B3E43; }

body {
  position: relative;
  background-image: url(/static/img/body-navy.jpg); }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }

html {
  min-height: 100%; }

body {
  position: absolute;
  height: 100%;
  width: 100%; }

div.hr {
  height: 100%;
  height: 1px;
  background-color: #ccc;
  box-shadow: 1px 1px 1px #ccc; }

::-webkit-scrollbar {
  display: none; }

a {
  text-decoration: none;
  color: #0974ae; }

.dash-bar {
  height: 320px;
  /* background: { */
  /*     color: $dash-bar-bg; */
  /* } */
  width: 100%;
  position: relative;
  z-index: 1; }
  .dash-bar canvas {
    height: 620px;
    width: 100%;
    position: relative;
    z-index: 10; }
  .dash-bar div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .dash-bar div img {
      height: 100%;
      display: block;
      margin: 0 auto; }

html, body, div {
  padding: 0;
  margin: 0; }

@-webkit-keyframes left-right {
  iteration-count: infinite;
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(-45%, 0);
            transform: translate(-45%, 0); } }

@keyframes left-right {
  iteration-count: infinite;
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(-45%, 0);
            transform: translate(-45%, 0); } }

.slide-tag {
  position: absolute;
  left: 10%;
  z-index: 1;
  margin-top: 2rem; }
  .slide-tag ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .slide-tag ul li a {
      -webkit-animation: left-right 3s cubic-bezier(0.23, 1, 0.32, 1) infinite alternate;
              animation: left-right 3s cubic-bezier(0.23, 1, 0.32, 1) infinite alternate;
      background-color: white;
      position: relative;
      display: block;
      height: 2rem;
      line-height: 2rem;
      padding: 0 0.3rem; }
    .slide-tag ul li a:nth-of-type(1) {
      -webkit-animation-delay: 300ms;
              animation-delay: 300ms; }
    .slide-tag ul li a:nth-of-type(2) {
      -webkit-animation-delay: 600ms;
              animation-delay: 600ms; }
    .slide-tag ul li a:nth-of-type(3) {
      -webkit-animation-delay: 900ms;
              animation-delay: 900ms; }
    .slide-tag ul li a:nth-of-type(4) {
      -webkit-animation-delay: 1200ms;
              animation-delay: 1200ms; }
    .slide-tag ul li a:nth-of-type(5) {
      -webkit-animation-delay: 1500ms;
              animation-delay: 1500ms; }
    .slide-tag ul li a:nth-of-type(6) {
      -webkit-animation-delay: 1800ms;
              animation-delay: 1800ms; }
    .slide-tag ul li a:nth-of-type(7) {
      -webkit-animation-delay: 2100ms;
              animation-delay: 2100ms; }
    .slide-tag ul li a:nth-of-type(8) {
      -webkit-animation-delay: 2400ms;
              animation-delay: 2400ms; }
    .slide-tag ul li a:nth-of-type(9) {
      -webkit-animation-delay: 2700ms;
              animation-delay: 2700ms; }
    .slide-tag ul li a:nth-of-type(10) {
      -webkit-animation-delay: 3000ms;
              animation-delay: 3000ms; }

.paging {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 5px auto 15px;
  text-align: center; }
  .paging:before, .paging:after {
    content: " ";
    display: table; }
  .paging:after {
    clear: both; }
  .paging--number {
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 3px;
    box-shadow: 0px 2px 14px #555;
    background-color: #eee; }
    .paging--number a {
      font-weight: 700;
      color: black; }
    .paging--number.active {
      box-shadow: inset 0px 0px 7px #555; }

/* org */
@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%); } }
@keyframes bounce {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%); } }

footer {
  padding: 0 1rem; }
  footer.allarticles {
    color: white; }
    footer.allarticles .footer-text p {
      color: #eee; }
    footer.allarticles ul svg {
      fill: white; }
  footer img {
    display: block;
    margin: auto;
    height: 100px;
    border-radius: 50%; }
  footer p {
    display: inline-block; }
  footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    float: right;
    position: relative;
    vertical-align: middle; }
    footer ul li {
      float: left;
      display: inline-block;
      margin-left: 0.5rem; }
      footer ul li:nth-child(1) a {
        -webkit-animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 200ms infinite;
                animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 200ms infinite; }
      footer ul li:nth-child(2) a {
        -webkit-animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 400ms infinite;
                animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 400ms infinite; }
      footer ul li:nth-child(3) a {
        -webkit-animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 600ms infinite;
                animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 600ms infinite; }
      footer ul li:nth-child(4) a {
        -webkit-animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 800ms infinite;
                animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 800ms infinite; }
      footer ul li:nth-child(5) a {
        -webkit-animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1000ms infinite;
                animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1000ms infinite; }
      footer ul li:nth-child(6) a {
        -webkit-animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1200ms infinite;
                animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1200ms infinite; }
      footer ul li:nth-child(7) a {
        -webkit-animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1400ms infinite;
                animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1400ms infinite; }
      footer ul li:nth-child(8) a {
        -webkit-animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1600ms infinite;
                animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1600ms infinite; }
      footer ul li:nth-child(9) a {
        -webkit-animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1800ms infinite;
                animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1800ms infinite; }
      footer ul li:nth-child(10) a {
        -webkit-animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 2000ms infinite;
                animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 2000ms infinite; }
    footer ul a {
      display: inline-block;
      height: 100%;
      border-radius: 50%;
      box-shadow: 0 0 3px #999; }
    footer ul svg {
      width: 1.4rem;
      border-radius: 50%;
      box-shadow: 0 0 3px #ccc; }
  footer .footer-text {
    margin-top: 0.7rem;
    height: 2rem; }
    footer .footer-text p {
      margin-top: 4px;
      color: #555; }

html, body {
  height: 100%; }

body:before, body:after {
  content: " ";
  display: table; }

body:after {
  clear: both; }

.slide-tag {
  left: 10%; }

.main {
  z-index: 20;
  position: relative;
  top: 0;
  margin: 2rem auto;
  width: 80%;
  border-radius: 0.1rem;
  box-sizing: border-box;
  background-color: #8e3c32;
  border: 1rem solid #662a24;
  padding: 1rem; }

.article-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%; }
  .article-list:before, .article-list:after {
    content: " ";
    display: table; }
  .article-list:after {
    clear: both; }
  .article-list li {
    padding: 0.4rem;
    margin: 1%;
    box-shadow: 0 0 4px #eee;
    background-color: white;
    width: 23%;
    height: 25rem;
    float: left;
    overflow: hidden;
    border-radius: 7px;
    box-sizing: border-box; }
