/* org */
/* org */
@font-face {
  font-family: AveriaSansLibre;
  src: url("/static/font/averia_sans_libre/AveriaSansLibre-Bold.ttf");
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: AveriaSansLibre;
  src: url("/static/font/averia_sans_libre/AveriaSansLibre-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: YueSong;
  src: url("/static/font/yuesong.TTF"); }

html {
  background-color: #3B3E43;
  height: 100%;
  background-image: url(/static/img/body-navy.jpg); }

a, button, input, textarea {
  -webkit-tap-highlight-color: transparent; }

body {
  position: relative;
  /* background: { */
  /*     image: url(/static/img/body-navy.jpg); */
  /* } */
  box-sizing: border-box; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }
  body::-webkit-scrollbar {
    display: none; }

html {
  min-height: 100%; }

html, body, div {
  padding: 0;
  margin: 0; }

body {
  position: absolute;
  min-height: 100%;
  width: 100%; }

div.hr {
  height: 100%;
  height: 1px;
  background-color: #e8e8e8; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility; }

a {
  text-decoration: none;
  color: #0974ae; }

/* org */
@keyframes bounce {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(0, 20%); } }

footer {
  padding: 0 1rem; }
  footer.footer-allarticles, footer.footer-category {
    color: white; }
    footer.footer-allarticles .footer-text p, footer.footer-category .footer-text p {
      color: #eee; }
    footer.footer-allarticles ul svg, footer.footer-category ul svg {
      fill: white; }
  footer img {
    display: block;
    margin: auto;
    height: 100px;
    border-radius: 50%; }
  footer p {
    display: inline-block;
    margin: 0; }
  footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    float: right;
    position: relative;
    vertical-align: middle; }
    footer ul li {
      float: left;
      display: inline-block;
      margin-left: 0.5rem; }
      footer ul li:nth-child(1) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 200ms infinite; }
      footer ul li:nth-child(2) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 400ms infinite; }
      footer ul li:nth-child(3) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 600ms infinite; }
      footer ul li:nth-child(4) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 800ms infinite; }
      footer ul li:nth-child(5) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1000ms infinite; }
      footer ul li:nth-child(6) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1200ms infinite; }
      footer ul li:nth-child(7) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1400ms infinite; }
      footer ul li:nth-child(8) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1600ms infinite; }
      footer ul li:nth-child(9) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1800ms infinite; }
      footer ul li:nth-child(10) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 2000ms infinite; }
    footer ul a {
      display: inline-block;
      height: 100%;
      border-radius: 50%; }
    footer ul svg {
      width: 1.4rem;
      border-radius: 50%;
      box-shadow: 0 0 3px #ccc; }
  footer .footer-text {
    margin-top: 0.7rem;
    height: 2rem; }
    footer .footer-text p {
      margin-top: 4px;
      color: #555; }

.footer-avator {
  margin-top: 2.5rem; }
  .footer-avator img {
    border-radius: 50%;
    display: block;
    margin: 1.5rem auto 0.8rem;
    width: 10rem;
    padding: 0.2rem;
    border: 0.3rem solid #474b52; }
  .footer-avator--author, .footer-avator--author-desc {
    text-align: center; }
  .footer-avator--author {
    color: #333;
    margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .footer-avator img {
      width: 7.5rem; } }

code.hljs {
  margin: 0.2rem 1rem;
  padding: 1rem 1.2rem;
  opacity: 0.8;
  transition: opacity 500ms ease-in-out;
  box-shadow: 2px 2px 5px #aaa;
  border-radius: 3px;
  font-size: 0.6rem;
  font-family: "Lucida Console", Monaco, monospace; }
  code.hljs:hover {
    opacity: 1;
    box-shadow: 1px 3px 15px #333; }
  @media screen and (max-width: 768px) {
    code.hljs {
      padding: 0.2rem 0.3rem;
      margin: 0;
      box-shadow: none;
      transition: none;
      opacity: 0.9;
      font-size: 0.5rem; } }

/* org */
@keyframes opacity-hide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.slide-tag {
  position: absolute;
  left: 50%;
  margin-left: -570px;
  margin-top: 2rem;
  z-index: 100;
  opacity: 1;
  transition: opacity 1000ms ease-in-out; }
  .slide-tag:before, .slide-tag:after {
    content: " ";
    display: table; }
  .slide-tag:after {
    clear: both; }
  @media screen and (max-width: 1350px) {
    .slide-tag {
      margin-left: -45%; } }
  .slide-tag ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .slide-tag li, .slide-tag .toggle-button {
    margin-top: 1rem;
    display: block;
    height: 2rem;
    max-width: 2rem;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 13px #000;
    transition: all 300ms ease-in-out;
    background-color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    -webkit-font-smoothing: antialiased; }
    .slide-tag li span, .slide-tag .toggle-button span {
      font-size: 0.8rem;
      padding-right: 1rem; }
    .slide-tag li a, .slide-tag .toggle-button a {
      background-color: white;
      position: relative;
      display: inline-block;
      height: 2rem;
      width: 2rem;
      line-height: 2rem;
      text-align: center;
      color: black;
      border-radius: 50%; }
    .slide-tag li:hover, .slide-tag .toggle-button:hover {
      max-width: 10rem; }
  .slide-tag.left {
    display: block;
    left: 2rem; }
  .slide-tag.right {
    display: block;
    right: 2rem; }
  .slide-tag .toggle-button {
    display: none; }
  .slide-tag.hide {
    /* animation: opacity-hide 300ms ease-in-out; */
    /* animation-fill-mode: forwards; */
    opacity: 0; }
  @media screen and (max-width: 768px) {
    .slide-tag {
      position: fixed;
      left: auto;
      margin: auto;
      bottom: 2rem;
      display: none; }
      .slide-tag .toggle-button {
        display: block;
        z-index: 100; }
      .slide-tag ul {
        position: absolute;
        top: 0;
        left: 0; }
        .slide-tag ul li {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          box-shadow: none; }
          .slide-tag ul li.active {
            box-shadow: 1px 1px 13px #000; } }

body {
  padding: 0 1rem; }
  @media screen and (max-width: 350px) {
    body {
      padding: 0 0.5rem; } }

@media screen and (max-width: 1240px) {
  .slide-tag {
    margin-left: -41%; } }

.main {
  position: relative;
  max-width: 1040px;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
  padding: 1.5rem 1rem 2rem;
  border-radius: 3px;
  margin: 3rem auto 3rem;
  box-shadow: 0px 0px 10px black;
  z-index: 10; }
  .main:before, .main:after {
    content: " ";
    display: table; }
  .main:after {
    clear: both; }
  @media screen and (max-width: 1240px) {
    .main {
      width: 75%; } }
  @media screen and (max-width: 768px) {
    .main {
      width: 100%;
      margin: 2rem auto 2rem;
      box-shadow: none; } }
  @media screen and (max-width: 350px) {
    .main {
      width: 100%;
      margin: 1rem auto 1rem;
      box-shadow: none;
      padding: 1rem 0.8rem 1rem; } }

.yue-song-font .article .title {
  font-family: AveriaSansLibre, YueSong, sans-serif; }

.article {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  hyphens: auto;
  position: relative; }
  .article ul {
    padding-left: 1rem; }
  .article a {
    line-height: 1; }
  .article h1.title {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #373a3f; }
    .article h1.title:after {
      margin-top: 1rem;
      content: '';
      display: block;
      width: 100%;
      opacity: 0.3; }
  .article .show-time {
    font-family: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #555; }
  .article p {
    line-height: 1.6; }
  .article p, .article a {
    font-family: Helvetica, Arial, sans-serif; }
  .article img {
    max-width: 90%;
    display: block;
    margin: 1rem auto;
    box-shadow: 1px 3px 6px #333;
    transform: scale(1, 1);
    transition: transform 150ms ease-in-out;
    border-radius: 3px; }
    .article img:hover {
      transform: scale(1.01, 1.01); }
  .article ul li {
    list-style: none;
    vertical-align: middle; }
  .article ul li:before {
    content: '';
    display: inline-block;
    height: 22px;
    width: 22px;
    background-size: contain;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAQAAAD/5HvMAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAU4SURBVGje7dh/kNR1Hcfxx+4Bl3eCnF4ERn5tRqtxCkIdatTvZEqkQlNgJc7RxY9JNJlRU0E7SAcuDwg06ogfZpSRTR36hyM0ZOMwrKLQpFhMp39QdjPGASkHx91xt8ttf5iyt7e7t/uF/9rX35/Pa57vH5+flFVWWWWVVVZZZ1Wxs2kWEjder0MkInrEz3KAV9lus49FN6gYGGFwTjAsSAXaIpkFTFHvk0gEqWgeGRkKGWWl9cadQYbS0mJuM1dFeKZAqHWdb7tLZTQz0O8Vxz3s62JRXAb3UMzt6sQjI8U8b7lKj7ghClJ8kF2PEZa5kYhIMac8bqnzbXBr6YUbDPSGNUZ7zNQzQtrgISOttcA5pbkMBkraaI2LNJt2BoXrs95iSas85CNhCaHl2oe6rbTSWJvMidreCZI2u80/3GeTycV3Uy6gmG5Nlhrhxx5QU0p8A5BSnlNvh2m2mKe6OJ98O/VJ69zpkAYbfTraAk5IsM98TUZpttEVxbRAPJ+ZlBazvWCm36tTHbl07ZaZ7WW32Gqx8UPlKV7AKm2PedYYZ4NmE8JILZ4g6U/q/NBwyz1tduEmyDjLAmrU6fUbPW1o0ybotMt+l5puqrh/Bl2FzrmASaZ70c7MMW3aBCe86CVVQl91hQ7/DpK5nYY47RP0edYsK5xrlRa3GhWxn1JetkC93a7zlCfdpCpXpgpkKCO+Y3bZbbRrzDRRZ9Ae9OWKL2CSaV4amKEMp2Twhm1aXeR6XzNJyqGgZ6DTkED/s+oP2my33xjXm2mCbu1BbzZUwOWm5wN6zyno8VfbHXCBa80wWbWDQedpp6IvaAm6POMWt/ub6Z6yxSznh9kbQgdqhige7R43wz3e9SXr3JdJMSxrfDr/pTaB8Khf2eEms3zZFHv8zh/Cf2VcWDukjSwivrhPuUqNpL126s8H1KXTWCMK5ikdHvSEZ0xxh2td43V13vxgQGyoW3oIF5tvrrH+7Oe2ac+8gQ8E6nVS5dArL6THEX04pVuqiIycxqn0FYtc6S1L/Nrb2c+B7JIN+QoJiZvgDt8w0m6/9KzDuUYlcs3k4+42R4Un/dRr+gePGqYEhVCr3p0u1mqDFoelB5gel3Ku4ZI5Awktd7VWq211IvdDqQSgkLirPWiKDo/a6EAWDHRIqVaZDRRSZY7vG2OrRvtzzMwJ1K3TCB/2dk6c0eb4nnF2WmGXZN6nYDpHXsdoMF+PH/iZ44WekRlACWGfkyp8KGepLrXUNx2zzKZSXqYhfEKjm7Vq8JxThWcWUbKQuC9a4XJ7NdohVcAyjfjppRHClX7kC3a636v5S/W+4nlMM3FG+JYnTLRFvW0FcejzrtGqMnA+b71Qi+/4y9A4uTIUM3wATrW73C+m0VrHhixVSpfK9xxCuMFjLrFZg8PFFTkb6IgKtRnx1VpigXc0+K2+oixj0tIf4KxzobWavFNsz2UDdZER3wUeMc+b7rWjmHRnaapmH7XKSl3Fz83T1CFc6GHz7LPQKxH+ez5ntfFWl4ZTaJWNtdbNXvVde0vG6TdRs8s0ayoNJz9QreVmeN4ir5dk2C9pmMs8YJJfaCwVJ/fh2q9Gk7n2uFtriYa9jphstc942hL/Kf1jL3sfOipmvAZzveYerSX7paWc57NesDjXLaD0DHWosNA4rRZG6J33tc8ib0WbPXinrnCJw+61J5JhyhEHLLYvajCDeyjmkAf9MaJhl2Wq/D36t3A20AlH/URLNMMEaQcikuQB2uagvbmulmWVVVZZZZVVVlll/Z/qv0PlsaOMsQlsAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE1LTA3LTI1VDIxOjQ5OjMzKzA4OjAw30weZAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxMC0wNC0yNlQwMDowMDowMCswODowMKBVO10AAABOdEVYdHNvZnR3YXJlAEltYWdlTWFnaWNrIDYuOC44LTEwIFExNiB4ODZfNjQgMjAxNS0wNy0xOSBodHRwOi8vd3d3LmltYWdlbWFnaWNrLm9yZwUMnDUAAAAYdEVYdFRodW1iOjpEb2N1bWVudDo6UGFnZXMAMaf/uy8AAAAYdEVYdFRodW1iOjpJbWFnZTo6SGVpZ2h0ADEyOEN8QYAAAAAXdEVYdFRodW1iOjpJbWFnZTo6V2lkdGgAMTI40I0R3QAAABl0RVh0VGh1bWI6Ok1pbWV0eXBlAGltYWdlL3BuZz+yVk4AAAAXdEVYdFRodW1iOjpNVGltZQAxMjcyMjExMjAwCSkN7wAAABN0RVh0VGh1bWI6OlNpemUAMS42M0tCQumU2v8AAABWdEVYdFRodW1iOjpVUkkAZmlsZTovLy9ob21lL3d3d3Jvb3Qvd3d3LmVhc3lpY29uLm5ldC9jZG4taW1nLmVhc3lpY29uLmNuL3NyYy8yMTcvMjE3NDMucG5na2M4XQAAAABJRU5ErkJggg==");
    vertical-align: middle; }
  .article ul ul {
    font-size: 90%; }
    .article ul ul li:before {
      height: 19.8px;
      width: 19.8px; }
  .article blockquote {
    margin: 0.5rem 1rem;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 0.5rem 0; }
    .article blockquote ul {
      padding-right: 1rem;
      margin: 0; }
    .article blockquote ul, .article blockquote li {
      list-style: upper-roman; }
    .article blockquote li {
      line-height: 1.5; }
      .article blockquote li:before {
        display: none; }
  .article.org .section-number {
    margin-right: 10px; }
