/* org */
@font-face {
  font-family: AveriaSansLibre;
  src: url("/static/font/averia_sans_libre/AveriaSansLibre-Bold.ttf");
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: AveriaSansLibre;
  src: url("/static/font/averia_sans_libre/AveriaSansLibre-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: YueSong;
  src: url("/static/font/yuesong.TTF"); }

html {
  background-color: #3B3E43;
  height: 100%;
  background-image: url(/static/img/body-navy.jpg); }

a, button, input, textarea {
  -webkit-tap-highlight-color: transparent; }

body {
  position: relative;
  /* background: { */
  /*     image: url(/static/img/body-navy.jpg); */
  /* } */
  box-sizing: border-box; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }
  body::-webkit-scrollbar {
    display: none; }

html {
  min-height: 100%; }

html, body, div {
  padding: 0;
  margin: 0; }

body {
  position: absolute;
  min-height: 100%;
  width: 100%; }

div.hr {
  height: 100%;
  height: 1px;
  background-color: #e8e8e8; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility; }

a {
  text-decoration: none;
  color: #0974ae; }

/* org */
/* org */
@keyframes opacity-hide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.slide-tag {
  position: absolute;
  left: 50%;
  margin-left: -570px;
  margin-top: 2rem;
  z-index: 100;
  opacity: 1;
  transition: opacity 1000ms ease-in-out; }
  .slide-tag:before, .slide-tag:after {
    content: " ";
    display: table; }
  .slide-tag:after {
    clear: both; }
  @media screen and (max-width: 1350px) {
    .slide-tag {
      margin-left: -45%; } }
  .slide-tag ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .slide-tag li, .slide-tag .toggle-button {
    margin-top: 1rem;
    display: block;
    height: 2rem;
    max-width: 2rem;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 13px #000;
    transition: all 300ms ease-in-out;
    background-color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    -webkit-font-smoothing: antialiased; }
    .slide-tag li span, .slide-tag .toggle-button span {
      font-size: 0.8rem;
      padding-right: 1rem; }
    .slide-tag li a, .slide-tag .toggle-button a {
      background-color: white;
      position: relative;
      display: inline-block;
      height: 2rem;
      width: 2rem;
      line-height: 2rem;
      text-align: center;
      color: black;
      border-radius: 50%; }
    .slide-tag li:hover, .slide-tag .toggle-button:hover {
      max-width: 10rem; }
  .slide-tag.left {
    display: block;
    left: 2rem; }
  .slide-tag.right {
    display: block;
    right: 2rem; }
  .slide-tag .toggle-button {
    display: none; }
  .slide-tag.hide {
    /* animation: opacity-hide 300ms ease-in-out; */
    /* animation-fill-mode: forwards; */
    opacity: 0; }
  @media screen and (max-width: 768px) {
    .slide-tag {
      position: fixed;
      left: auto;
      margin: auto;
      bottom: 2rem;
      display: none; }
      .slide-tag .toggle-button {
        display: block;
        z-index: 100; }
      .slide-tag ul {
        position: absolute;
        top: 0;
        left: 0; }
        .slide-tag ul li {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          box-shadow: none; }
          .slide-tag ul li.active {
            box-shadow: 1px 1px 13px #000; } }

/* org */
@keyframes bounce {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(0, 20%); } }

footer {
  padding: 0 1rem; }
  footer.footer-allarticles, footer.footer-category {
    color: white; }
    footer.footer-allarticles .footer-text p, footer.footer-category .footer-text p {
      color: #eee; }
    footer.footer-allarticles ul svg, footer.footer-category ul svg {
      fill: white; }
  footer img {
    display: block;
    margin: auto;
    height: 100px;
    border-radius: 50%; }
  footer p {
    display: inline-block;
    margin: 0; }
  footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    float: right;
    position: relative;
    vertical-align: middle; }
    footer ul li {
      float: left;
      display: inline-block;
      margin-left: 0.5rem; }
      footer ul li:nth-child(1) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 200ms infinite; }
      footer ul li:nth-child(2) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 400ms infinite; }
      footer ul li:nth-child(3) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 600ms infinite; }
      footer ul li:nth-child(4) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 800ms infinite; }
      footer ul li:nth-child(5) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1000ms infinite; }
      footer ul li:nth-child(6) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1200ms infinite; }
      footer ul li:nth-child(7) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1400ms infinite; }
      footer ul li:nth-child(8) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1600ms infinite; }
      footer ul li:nth-child(9) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1800ms infinite; }
      footer ul li:nth-child(10) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 2000ms infinite; }
    footer ul a {
      display: inline-block;
      height: 100%;
      border-radius: 50%; }
    footer ul svg {
      width: 1.4rem;
      border-radius: 50%;
      box-shadow: 0 0 3px #ccc; }
  footer .footer-text {
    margin-top: 0.7rem;
    height: 2rem; }
    footer .footer-text p {
      margin-top: 4px;
      color: #555; }

/* org */
body {
  position: relative;
  padding: 2rem 3rem 2rem;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 100; }
  body::-webkit-scrollbar {
    display: none; }
  @media screen and (max-width: 768px) {
    body {
      padding: 0; } }
  @media screen and (min-height: 900px) {
    body {
      padding: 3rem 3rem 3rem; } }

.main-wrapper {
  overflow: scroll;
  z-index: 20;
  position: relative;
  top: 0;
  margin: auto;
  width: 1040px;
  border-radius: 0.8rem;
  box-sizing: border-box;
  box-shadow: 0 0 18px #000; }
  .main-wrapper::-webkit-scrollbar {
    display: none; }
  @media screen and (max-width: 1350px) {
    .main-wrapper {
      width: 90%; } }
  @media screen and (max-width: 768px) {
    .main-wrapper {
      border: none;
      width: 100%;
      background: none;
      box-shadow: none; } }

html {
  height: auto; }

body:before, body:after {
  content: " ";
  display: table; }

body:after {
  clear: both; }

.yue-song-font .main-wrapper h1, .yue-song-font ul.categorys li a {
  font-family: AveriaSansLibre, YueSong, sans-serif; }

.main-wrapper {
  padding: 0 1rem 1rem;
  margin-bottom: 1rem; }
  .main-wrapper h1 {
    text-align: center;
    color: white;
    text-shadow: 0 0 1px white; }

ul.categorys {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.categorys li {
    background-color: white;
    box-shadow: 0 0 18px black;
    border-radius: 0.6rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    position: relative;
    margin: 1rem 15%; }
    @media screen and (max-width: 768px) {
      ul.categorys li {
        margin: 1rem 1%; } }
    ul.categorys li:hover span.number {
      transform: scale(1.31, 1.31); }
    ul.categorys li a {
      display: block;
      height: 100%;
      width: 100%;
      vertical-align: middle; }
    ul.categorys li span.number {
      display: inline-block;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 50%;
      background-color: #ddd;
      text-align: center;
      line-height: 1.2rem;
      margin-left: 0.3rem;
      transition: transform 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out; }
