/* org */
/* org */
@font-face {
  font-family: AveriaSansLibre;
  src: url("/static/font/averia_sans_libre/AveriaSansLibre-Bold.ttf");
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: AveriaSansLibre;
  src: url("/static/font/averia_sans_libre/AveriaSansLibre-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: YueSong;
  src: url("/static/font/yuesong.TTF"); }

html {
  background-color: #3B3E43;
  height: 100%;
  background-image: url(/static/img/body-navy.jpg); }

a, button, input, textarea {
  -webkit-tap-highlight-color: transparent; }

body {
  position: relative;
  /* background: { */
  /*     image: url(/static/img/body-navy.jpg); */
  /* } */
  box-sizing: border-box; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }
  body::-webkit-scrollbar {
    display: none; }

html {
  min-height: 100%; }

html, body, div {
  padding: 0;
  margin: 0; }

body {
  position: absolute;
  min-height: 100%;
  width: 100%; }

div.hr {
  height: 100%;
  height: 1px;
  background-color: #e8e8e8; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility; }

a {
  text-decoration: none;
  color: #0974ae; }

/* org */
@keyframes bounce {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(0, 20%); } }

footer {
  padding: 0 1rem; }
  footer.footer-allarticles, footer.footer-category {
    color: white; }
    footer.footer-allarticles .footer-text p, footer.footer-category .footer-text p {
      color: #eee; }
    footer.footer-allarticles ul svg, footer.footer-category ul svg {
      fill: white; }
  footer img {
    display: block;
    margin: auto;
    height: 100px;
    border-radius: 50%; }
  footer p {
    display: inline-block;
    margin: 0; }
  footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    float: right;
    position: relative;
    vertical-align: middle; }
    footer ul li {
      float: left;
      display: inline-block;
      margin-left: 0.5rem; }
      footer ul li:nth-child(1) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 200ms infinite; }
      footer ul li:nth-child(2) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 400ms infinite; }
      footer ul li:nth-child(3) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 600ms infinite; }
      footer ul li:nth-child(4) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 800ms infinite; }
      footer ul li:nth-child(5) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1000ms infinite; }
      footer ul li:nth-child(6) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1200ms infinite; }
      footer ul li:nth-child(7) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1400ms infinite; }
      footer ul li:nth-child(8) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1600ms infinite; }
      footer ul li:nth-child(9) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1800ms infinite; }
      footer ul li:nth-child(10) a {
        animation: bounce 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 2000ms infinite; }
    footer ul a {
      display: inline-block;
      height: 100%;
      border-radius: 50%; }
    footer ul svg {
      width: 1.4rem;
      border-radius: 50%;
      box-shadow: 0 0 3px #ccc; }
  footer .footer-text {
    margin-top: 0.7rem;
    height: 2rem; }
    footer .footer-text p {
      margin-top: 4px;
      color: #555; }

/* org */
@keyframes opacity-hide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.slide-tag {
  position: absolute;
  left: 50%;
  margin-left: -570px;
  margin-top: 2rem;
  z-index: 100;
  opacity: 1;
  transition: opacity 1000ms ease-in-out; }
  .slide-tag:before, .slide-tag:after {
    content: " ";
    display: table; }
  .slide-tag:after {
    clear: both; }
  @media screen and (max-width: 1350px) {
    .slide-tag {
      margin-left: -45%; } }
  .slide-tag ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .slide-tag li, .slide-tag .toggle-button {
    margin-top: 1rem;
    display: block;
    height: 2rem;
    max-width: 2rem;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 13px #000;
    transition: all 300ms ease-in-out;
    background-color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    -webkit-font-smoothing: antialiased; }
    .slide-tag li span, .slide-tag .toggle-button span {
      font-size: 0.8rem;
      padding-right: 1rem; }
    .slide-tag li a, .slide-tag .toggle-button a {
      background-color: white;
      position: relative;
      display: inline-block;
      height: 2rem;
      width: 2rem;
      line-height: 2rem;
      text-align: center;
      color: black;
      border-radius: 50%; }
    .slide-tag li:hover, .slide-tag .toggle-button:hover {
      max-width: 10rem; }
  .slide-tag.left {
    display: block;
    left: 2rem; }
  .slide-tag.right {
    display: block;
    right: 2rem; }
  .slide-tag .toggle-button {
    display: none; }
  .slide-tag.hide {
    /* animation: opacity-hide 300ms ease-in-out; */
    /* animation-fill-mode: forwards; */
    opacity: 0; }
  @media screen and (max-width: 768px) {
    .slide-tag {
      position: fixed;
      left: auto;
      margin: auto;
      bottom: 2rem;
      display: none; }
      .slide-tag .toggle-button {
        display: block;
        z-index: 100; }
      .slide-tag ul {
        position: absolute;
        top: 0;
        left: 0; }
        .slide-tag ul li {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          box-shadow: none; }
          .slide-tag ul li.active {
            box-shadow: 1px 1px 13px #000; } }

code.hljs {
  margin: 0.2rem 1rem;
  padding: 1rem 1.2rem;
  opacity: 0.8;
  transition: opacity 500ms ease-in-out;
  box-shadow: 2px 2px 5px #aaa;
  border-radius: 3px;
  font-size: 0.6rem;
  font-family: "Lucida Console", Monaco, monospace; }
  code.hljs:hover {
    opacity: 1;
    box-shadow: 1px 3px 15px #333; }
  @media screen and (max-width: 768px) {
    code.hljs {
      padding: 0.2rem 0.3rem;
      margin: 0;
      box-shadow: none;
      transition: none;
      opacity: 0.9;
      font-size: 0.5rem; } }

/* org */
body {
  position: relative;
  padding: 2rem 3rem 2rem;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 100; }
  body::-webkit-scrollbar {
    display: none; }
  @media screen and (max-width: 768px) {
    body {
      padding: 0; } }
  @media screen and (min-height: 900px) {
    body {
      padding: 3rem 3rem 3rem; } }

.main-wrapper {
  overflow: scroll;
  z-index: 20;
  position: relative;
  top: 0;
  margin: auto;
  width: 1040px;
  border-radius: 0.8rem;
  box-sizing: border-box;
  box-shadow: 0 0 18px #000; }
  .main-wrapper::-webkit-scrollbar {
    display: none; }
  @media screen and (max-width: 1350px) {
    .main-wrapper {
      width: 90%; } }
  @media screen and (max-width: 768px) {
    .main-wrapper {
      border: none;
      width: 100%;
      background: none;
      box-shadow: none; } }

.category-slide {
  display: inline-block;
  float: left;
  width: 35%; }
  .category-slide .avator {
    margin-top: 1.5rem;
    box-sizing: border-box;
    position: relative; }
    .category-slide .avator:hover .circle {
      transform: scale(0.8, 0.8); }
    .category-slide .avator:hover img.avator {
      filter: blur(3px);
      -webkit-filter: blur(3px); }
    .category-slide .avator:hover .avator-wrapper {
      box-shadow: 1px 1px 25px #eee;
      transform: scale(0.95, 0.95); }
    .category-slide .avator:hover .card {
      transform: scale(1.1, 1.1);
      opacity: 1; }
    .category-slide .avator .avator-wrapper {
      width: 80%;
      display: block;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      border-radius: 50%;
      transition: box-shadow 300ms ease-in, transform 300ms ease-in;
      box-shadow: 1px 1px 15px #ccc; }
    .category-slide .avator img.avator {
      width: 100%;
      display: block;
      margin: 0 auto;
      transition: transform 300ms ease-in;
      transform: scale(1, 1);
      border-radius: 50%;
      z-index: 10; }
    .category-slide .avator .circle {
      position: absolute;
      border-radius: 50%;
      width: 96%;
      height: 96%;
      left: 2%;
      top: 2%;
      box-sizing: border-box;
      border: 0.3rem solid rgba(255, 255, 255, 0.6);
      transition: all 300ms ease-in;
      z-index: 20; }
    .category-slide .avator img.fo {
      width: 130%;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: -44px;
      top: -39px;
      z-index: 1;
      opacity: 0.1;
      transition: transform 1300ms ease-in;
      border-radius: 50%; }
    .category-slide .avator .card {
      transition: transform 300ms ease-in, opacity 300ms ease-in;
      opacity: 0.7;
      position: absolute;
      top: 35%;
      width: 100%;
      text-align: center;
      z-index: 100; }
    .category-slide .avator ul {
      padding: 0;
      list-style: none;
      text-align: center;
      z-index: 10; }
      .category-slide .avator ul li {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        box-shadow: 0 0 10px black; }
        .category-slide .avator ul li a {
          width: 100%;
          height: 100%; }
        .category-slide .avator ul li svg {
          fill: white; }
    .category-slide .avator--name {
      margin: 0;
      display: inline-block;
      position: relative;
      z-index: 10;
      width: auto;
      color: white;
      font-size: 1.8rem;
      font-family: AveriaSansLibre, YueSong, sans-serif;
      text-shadow: 0 0 10px black; }
      .category-slide .avator--name:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1; }
  .category-slide ul.categorys {
    margin: 1rem 0;
    padding: 0; }
    .category-slide ul.categorys:before, .category-slide ul.categorys:after {
      content: " ";
      display: table; }
    .category-slide ul.categorys:after {
      clear: both; }
    .category-slide ul.categorys li {
      margin: 10px 18px;
      display: block;
      float: left; }
      .category-slide ul.categorys li a {
        display: inline-block;
        background-color: white;
        height: 28px;
        line-height: 28px;
        position: relative;
        padding-left: 0.8rem; }
        .category-slide ul.categorys li a:after {
          position: absolute;
          left: 100%;
          top: 0;
          content: '';
          width: 0;
          height: 0;
          display: block;
          border-style: solid;
          border-width: 14.73684px 0 14.73684px 14.73684px;
          border-color: transparent transparent transparent white; }
        .category-slide ul.categorys li a:before {
          position: absolute;
          content: '';
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background-color: #333;
          top: 50%;
          margin-top: -3px;
          left: 4px; }
    @media screen and (max-width: 992px), screen and (max-height: 900px) {
      .category-slide ul.categorys li {
        margin: 10px 8px; }
        .category-slide ul.categorys li a {
          height: 20px;
          line-height: 20px; }
          .category-slide ul.categorys li a:after {
            border-width: 10.52632px 0 10.52632px 10.52632px; } }

@keyframes bounce {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(0, -10px); } }

html, body {
  height: 100%; }

.yue-song-font .articles .article h1 {
  font-family: AveriaSansLibre, YueSong, sans-serif; }

.main-wrapper {
  overflow: hidden;
  height: 100%; }
  .main-wrapper .category-slide {
    position: relative;
    z-index: 100; }
  @media screen and (max-width: 992px) {
    .main-wrapper {
      border-radius: 0; }
      .main-wrapper .articles {
        width: 64%; }
      .main-wrapper .category-slide {
        width: 30%; } }
  @media screen and (max-width: 768px) {
    .main-wrapper .category-slide {
      display: none !important; }
    .main-wrapper .article-wrapper {
      width: 100%;
      box-shadow: 0px 0px 0px #fff; }
      .main-wrapper .article-wrapper.active .article {
        box-shadow: none; }
      .main-wrapper .article-wrapper .article {
        width: auto; }
    .main-wrapper .articles {
      width: 100%;
      box-shadow: 0px 0px 0px #fff;
      margin: 0; }
      .main-wrapper .articles .article {
        box-shadow: none;
        border: 1px solid #646464; } }

.article-wrapper {
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
  transition: all 700ms;
  will-change: transform;
  /* &.cover.active { */
  /*     animation: none; */
  /* } */ }
  .article-wrapper::-webkit-scrollbar {
    display: none; }
  .article-wrapper.c {
    transform: translate(0, -100%); }
  .article-wrapper.blur {
    filter: blur(3px); }
    .article-wrapper.blur .article {
      box-shadow: none; }
  .article-wrapper.active {
    cursor: initial;
    z-index: 150; }
    .article-wrapper.active .article {
      box-shadow: 0 0 20px black; }
      .article-wrapper.active .article:before, .article-wrapper.active .article:after {
        display: none; }
  .article-wrapper.cover {
    height: 100%; }
    .article-wrapper.cover .m-banner {
      position: absolute;
      background-color: #222528;
      width: 100%;
      bottom: 0;
      color: white;
      opacity: 0.7;
      z-index: 10;
      border-bottom-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem; }
      .article-wrapper.cover .m-banner .footer-text {
        text-align: right; }
      .article-wrapper.cover .m-banner .story-text {
        padding: 0 0.8rem; }
      @media screen and (max-width: 768px) {
        .article-wrapper.cover .m-banner {
          font-size: 0.8rem; } }
    .article-wrapper.cover .banner {
      z-index: 10;
      position: absolute;
      background-color: #222528;
      width: 100%;
      top: 3rem;
      padding: 2rem 1.5rem;
      box-sizing: border-box;
      color: white;
      opacity: 0.7; }
      .article-wrapper.cover .banner p {
        margin: 0; }
      .article-wrapper.cover .banner--title {
        font-family: AveriaSansLibre, YueSong, sans-serif;
        font-size: 2rem; }
    .article-wrapper.cover .sqrt-title {
      height: 5rem;
      width: 5rem;
      position: absolute;
      top: 14rem;
      left: 50%;
      margin-left: -2rem;
      border: 3px solid #000;
      border-radius: 2px; }
      .article-wrapper.cover .sqrt-title:before {
        content: '';
        display: block;
        position: absolute;
        width: 120%;
        height: 120%;
        box-sizing: border-box;
        left: -10%;
        top: -10%;
        border: 2px solid #000;
        border-radius: 3px; }
      .article-wrapper.cover .sqrt-title p {
        width: 50%;
        margin: 0;
        padding: 0;
        display: inline-block;
        float: left;
        line-height: 2.5rem;
        vertical-align: middle;
        text-align: center;
        text-shadow: 0 0 5px white;
        font-size: 2rem;
        font-family: AveriaSansLibre, YueSong, sans-serif; }
    .article-wrapper.cover .article {
      height: 95%;
      padding: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom; }

.articles {
  margin: auto 3%;
  width: 59%;
  display: inline-block;
  position: relative;
  z-index: 100;
  height: 100%;
  float: left;
  box-sizing: border-box;
  box-shadow: 0 1rem 18px #000;
  overflow: hidden;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem; }
  .articles:before, .articles:after {
    content: " ";
    display: table; }
  .articles:after {
    clear: both; }
  .articles .article {
    background-color: white;
    padding: 8px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    box-shadow: 3px 0 10px rgba(100, 100, 100, 0.8);
    transition: all;
    min-height: 80%;
    box-sizing: border-box; }
    .articles .article p {
      line-height: 1.6; }
    .articles .article h1 {
      margin: -0.2rem auto 0.5rem;
      font-size: 1.4rem;
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      color: #333; }
    .articles .article .show-time, .articles .article .readmore {
      font-family: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
      font-size: 14px;
      line-height: 1.5;
      color: #555; }
    .articles .article img {
      max-width: 95%;
      display: block;
      margin: 1rem auto;
      box-shadow: 1px 3px 6px #333;
      border-radius: 3px; }
  .articles ul {
    display: none; }

#article-canvas {
  height: 100%;
  width: 100%; }

.wrapper-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.2;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .wrapper-bg {
      display: none; } }
