.paging {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 5px auto 15px;
  text-align: center; }
  .paging:before, .paging:after {
    content: " ";
    display: table; }
  .paging:after {
    clear: both; }
  .paging--number {
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 3px;
    box-shadow: 0px 2px 14px #555;
    background-color: #eee; }
    .paging--number a {
      font-weight: 700;
      color: black; }
    .paging--number.active {
      box-shadow: inset 0px 0px 7px #555; }
