<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        
        <%- include('widget/head.ejs'); %>
        

        <link rel="stylesheet" href="/static/css/allarticles.css">

    </head>
    <body>
      <%- include('widget/slide-tag.ejs', {type: 'slide-tag-index'}); %>

      <div class="main-wrapper">
        <h1>所有文章:</h1>

        <br/>
        
        <%- include('widget/article-list.ejs'); %>

        
        <%- include('widget/footer.ejs', {type: 'footer-allarticles'}); %>
      </div>
      
      
      
      <script src="/static/js/allarticles.bundle.js"></script>
    </body>
</html>

