<div class="footer-avator">

    <div class="hr"></div>
    
    <img alt="" src="<%= IMG.FOOTER_AVATOR %>"/>

    <p class="footer-avator--author"><%= TEXT.AUTHOR %></p>
    <p class="footer-avator--author-desc"><% if (TEXT.AUTHOR_DESC) {%><%= TEXT.AUTHOR_DESC %> <% }  %>%></p>
    
</div>
